.clr{
    background-color: rgb(224, 220, 213);
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}
.div20{
    background-color: floralwhite;
}

body{
  background: url('bg.jpg') no-repeat top center;
  background-size: cover;
  height: 100vh;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper .title h1{
  color: #c5ecfd;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.msg textarea{
  height: 212px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5ecfd;
}

.btn {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}
/* ?? */
.clr{
    background: darkorange;
}
.i2{
    background-color: rgb(223, 198, 167);
    height: 500px;
}
.title{
    color: rgba(0,0,0,0.9)e;
}
#d2{
    background-color: rgb(181, 216, 236);
    font-size: 14px; 
}
.btn1{
    border-radius: 10px;
}
.pad{
    padding-right: 25px;
}
.blog{
    height: 800px;
    background-color: rgb(190, 182, 190);
}
footer{
    width: 100%;
    min-height: 300px;
    max-height: auto;
    background-color: rgba(0,0,0,0.9);
    margin-top: 10px;
    clear: both;
  }
  footer .footer-wrap{
    width: 80%;
    margin: 0 auto;
    padding-left: 9%;
    color: white;
  }
  .widgetFooter{
    width: calc(85%/3);
    height: auto;
    float: left;
    padding: 2.5%;
    text-align: left;
  }
  h4.uppercase{
    text-transform: uppercase;
  }
  ul#footerUsefulLink, ul#footerMediaLinks{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-transform: capitalize;
  }
  ul#footerUsefulLink li, ul#footerMediaLinks li{
    cursor: pointer;
    /* transition: border-bottom 3s ease-in; */
  }
  ul#footerUsefulLink li:hover .usefulLinksIcons, ul#footerUsefulLink li:hover a{
     color: #00CED1;
     /* border-bottom: 1px solid red; */
  }
  ul#footerMediaLinks li:hover span.fb, ul#footerMediaLinks li:hover a.fb { color: #3b5998; }
  ul#footerMediaLinks li:hover span.twit, ul#footerMediaLinks li:hover a.twit { color: #1DA1F2; }
  ul#footerMediaLinks li:hover span.insta, ul#footerMediaLinks li:hover a.insta { color: #ffc838; }
  ul#footerMediaLinks li:hover span.git, ul#footerMediaLinks li:hover a.git { color: #f1502f; }
  
  div#footerLogo img{
    width: 50%;
    margin: 25% 0;
  }
  
  div.footerCopy{
    clear: both;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    border-top: 1px solid #ccc;
  }
  
  @media (max-width:800px){
    footer .footer-wrap{
      width: 100%;
      padding: 0;
    }
    .widgetFooter:not(:nth-of-type(2)){
      width: calc(90%/2);
      text-align: center;
      font-size: 0.9em;
    }
    .widgetFooter:nth-of-type(2){
      display: none;
    }
    div.footerCopy{
      font-size: 0.8em;
    }
  }
  @media (max-width:600px){
    .widgetFooter:not(:nth-of-type(2)){
      text-align: left;
    }
  }
  @media (max-width:500px){
    footer{
      min-height: auto;
    }
    .widgetFooter:not(:nth-of-type(2)){
      width: 100%;
      padding: 0;
      text-align: center;
    }
    ul#footerUsefulLink, ul#footerMediaLinks{
      display: flex;
    }
    ul#footerUsefulLink li, ul#footerMediaLinks li{
      float: left;
      flex: 1;
      text-align: center;
      font-size: 1.5em;
    }
    ul#footerUsefulLink li a, ul#footerMediaLinks li a{
      display: none;
    }
    ul#footerUsefulLink li:hover, ul#footerUsefulLink li:hover .usefulLinksIcons, ul#footerUsefulLink li:hover a{
       color: white;
       background-color: #00CED1;
    }
    ul#footerMediaLinks li.media1:hover, ul#footerMediaLinks li:hover span.fb, ul#footerMediaLinks li:hover a.fb { background-color: #3b5998; color: white; }
    ul#footerMediaLinks li.media2:hover, ul#footerMediaLinks li:hover span.twit, ul#footerMediaLinks li:hover a.twit { background-color: #1DA1F2; color: white; }
    ul#footerMediaLinks li.media3:hover, ul#footerMediaLinks li:hover span.insta, ul#footerMediaLinks li:hover a.insta { background-color: #ffc838; color: white; }
    ul#footerMediaLinks li.media4:hover, ul#footerMediaLinks li:hover span.git, ul#footerMediaLinks li:hover a.git { background-color: #f1502f; color: white; }
  }
  .contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label{
    display: block;
}

.contact form p{
    margin: 0;
}

.contact form .full{
    grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
}

.contact form button{
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase;
}

.contact form button:hover, .contact form button focus{
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
}

/* large screens
@media(min-width: 700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    .wrapper > *{
        padding: 2em;
    }

    .company-info h3, .company-info ul, .brand{
        text-align: left;
    }
} */